<%= form_tag users_path do %>
  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]"><br/>

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]"><br/>

  <label for="password_confirmation">Password Confirmation</label>
  <input id="password_confirmation" type="password" name="user[password_confirmation]"><br/>

  <input type="submit" value="Sign ups!">
<% end %>

<%= javascript_include_tag 'users' %>
